* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 0;
}

body, html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#users {
    margin-top: 20px;
    border-collapse: collapse;
}